@import "variables";
@import "global";

body
{
  font-family: "Courier New";
}

.form__nickname
{
  width: 400px;
}

.dashboard__btn
{
  width: 250px;
  margin: 15px;
}

.nickname__input
{
  width: 300px;
}

.dasboard__menu
{
  padding-top: 50px;
}

.input__label
{
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .dashboard__btn
  {
    width: auto;
  }
}

.room-management__container
{
  height: 100%;
  position: fixed;
  right: 0;
}

.room__management
{
  width: 250px;
  height: 100%;
  background: #eceded;
}

.game__container
{
  height: 100vh;
  flex: 0 1 calc(100% - 250px);
}

.game__field
{
  width: 400px;
  height: 800px;
  border: 2px solid black;
}